:javascript
  $(function() {
    $('#k3_ribbon').k3_ribbon({tabs: [
      new K3_Ribbon.Tab('k3_blog', 'Blog Post', [
        new K3_Ribbon.Section('k3_blog', [
          new K3_Ribbon.Button({
            element: $('<li/>', { class: "icon button blog_post_metadata" }).
              append($('<a/>', {title: "Post Information", href: "javascript:;", html: '&nbsp;'})),
            onClick:  function() { $(this).k3_ribbon('isEnabled') && $(this).trigger('invoke'); },
            onInvoke: function() { $('.k3_blog_blog_post_metadata.drawer').slideToggle(); $('.k3_blog_blog_post_metadata.drawer .editable:visible:eq(0)').focus() }
          }),
          new K3_Ribbon.Button({
            element: $('<li/>', { class: "icon button list_blog_posts" }).
              append($('<a/>', {title: "List Blog Posts", href: "#{root_path}", html: '&nbsp;'})),
            onMousedown: function(event) {
              var a = $(this).find('a').eq(0);
              if ($(this).k3_ribbon('isEnabled')) {
                a.attr('href', a.data('href'));
              } else {
                a.data('href', a.attr('href'));
                a.attr('href', 'javascript:;');
              }
            },
          }),
        ])
      ])
    ]})
    $('#k3_ribbon').k3_ribbon({
      always_enabled: [
        '.k3_blog .list_blog_posts.button',
      ]
    });
  })
